@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100%;

}

.nav {

    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(133, 132, 132);
    width: 100%;



}

.ul-list {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;

}

.ul-list li {
    list-style-type: none;
    padding: 10px;
}

.ul-list li a {
    text-decoration: none;
    font-size: 20px;
    color: grey;
    font-weight: bold;
}

.ul-list li a:hover {
    color: black;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}

.first-half {
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-top: 105px
    
}

.second-half {

    max-width: 50%;
    height: 100%;

}

.first-div {
    width: 42%;
    margin: 10px 113px;
    font-size: 25px;
}

.second-div {
    margin: 50px 113px;
    font-size: 25px;
    
    width: 42%;
}

.third-div {
    margin: 95px 113px;
    width: 42%;
    font-size: 20px;
}

.fourth-div {
    text-align: -webkit-center;
    margin: 43px 123px;
    max-width: 71%;
}

.fourth-div h3 {
    color: orangered;
    border: 2px solid orangered;
    padding: 19px;
    font-size: x-large;
    text-align: center;
}

.second-half .fifth-div img {
    width: 100%;
    height: 450px;
}


.left{
    flex-direction: row-reverse;
}
.main-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.second-row-first-half{

    max-width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 100%;
   
}
.second-row-first-half img{
    height: 457px;
    width: 495px;
    margin-top: 110px;
    display: flex;
    justify-content: left;
    margin-left: -100px;

}
.second-row-second-half .second-row-first-div h1{
    font-size: xxx-large;
    margin-left: 176px;
    width: 402px;
    font-family: 'Tilt Warp', cursive;
    margin-top: 140px

}
.second-row-second-half .second-row-second-div p{
    font-size: 21px;
    /* margin-left: 174px
    margin-top: 50px */
    margin:50px 0 0 174px;
    font-family: 'Nunito Sans', sans-serif;
}
.main-2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.third-row-first-half{
    max-width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 100%;

}
.third-row-first-half h1{
    font-size: 53px;
    margin-top: 156px;
}
.third-row-second-half{
    max-width: 25%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 100%;
    margin-top: -202px
}
.third-row-second-half .third-row-first-div p{
    line-height: 1.2;
    width: 200px;
    margin-left: -77px;
    /* margin-top: 156px; */
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    margin-top: 288px;
    font-size: 23px;
}
.third-row-second-half  .third-row-second-div p{
    line-height: 1.2;
    width: 200px;
    margin-left: -77px;
    margin-top: 18px;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 23px;
    margin-top: 35px;
    margin-bottom: 28px;
}
.third-row-second-half  .third-row-third-div p{
    line-height: 1.2;
    width: 200px;
    margin-left: -77px;
    margin-top: 16px;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 23px;
    
}
.third-row-third-half{
    max-width: 25%;
    display: flex;
    justify-content: right;
    flex-direction: column;
    height: 100%;
    margin-top: 401px;

}
.third-row-third-half .third-row-img img{
    height: 500px;
    width: 300px;
    margin-right: -110px;
    margin-left: 91px;
    margin-top: -203px;
}
.fourth-row-first-half{


    max-width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 100%;
   
}
.fourth-row-first-half img{
    height: 457px;
    width: 495px;
    margin-top: 110px;
    display: flex;
    justify-content: left;
    margin-left: -100px;

}
.fourth-row-second-half .fourth-row-first-div h1{
    font-size: xxx-large;
    margin-left: 176px;
    width: 402px;
    font-family: 'Tilt Warp', cursive;
    margin-top: 140px

}
.fourth-row-second-half .fourth-row-second-div p{
    font-size: 21px;
   
    margin:50px 0 0 174px;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 143px;
}





.fifth-row-first-half {
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-top: 105px
    
}
.fifth-row-second-half {

    max-width: 50%;
    height: 100%;

}

.fifth-row-first-div {
    width: 76%;
    margin: 10px -1px;
    font-size: 45px;
    margin-top: 130px
}

.fifth-row-second-div {
    margin: 50px 113px;
    font-size: 25px;
    
    width: 53%;
    margin-left: 2px;
}

.fifth-row-third-div {
    margin: 95px 113px;
    width: 42%;
    font-size: 20px;
    margin-top: 2px;
    margin-left: 2px;
}

.fifth-row-fourth-div {
    text-align: -webkit-center;
    margin: 43px 123px;
    max-width: 71%;
    margin-bottom: 127px
}

.fifth-row-fourth-div h3 {
    color: orangered;
    border: 2px solid orangered;
    padding: 19px;
    font-size: x-large;
    text-align: center;
}

.fifth-row-second-half .fifth-row-fifth-div img {
    width: 100%;
    height: 450px;
    margin-left: 128px;
}
.fifth-row-sixth-div button{
   color: white;
   background-color: transparent;
   border-radius: 30px;
   
    padding: 6px;
    margin-left: -114px;
}
.fifth-row-sixth-div button:hover{
    color: grey;
    border: 1px solid grey;
}

